
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d6ffdb;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #71a96a;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 500px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000; /* Azul claro */
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

textarea {
  height: 100px;
  resize: vertical;
}

button[type="submit"] {
  background-color: #c5e0c2; /* Azul claro */
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #d6ffdb; /* Azul mais escuro */
}